#body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: burlywood;
  }

  .calculator {
    width: 300px;
    background-color: #042e39ef;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    
  }

  #display {
    width: 92%;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    background-color: #bcfaf5b2;
    border: none;
    box-shadow: inset 0px 0px 7px rgb(177, 182, 248);
  }

  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    color: #b4a3ff;
    background-color: #b4a3ff;
  }

.button {
    padding: 10px;
    font-size: 18px;
    background-color: #143676;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }

.button:hover {
    background-color: #b4a3ff;
  }